<ons-page id="bid">
    <ons-navigator swipeable id="Navigator_bid" page="bid.html"></ons-navigator>
    <template id="bid.html">
        <ons-page id="bid">
            <ons-toolbar>
                <div class="center toolbartitle">
                    ซ่อมด่วน </div>
            </ons-toolbar>


            <div class="container MT">

                <button type="button" class="btn bidbtn" style="width: 100%;height: 80px; margin-top: 30px;">
                    เพิ่มหัวข้องาน</button>
            </div>








        </ons-page>
    </template>
</ons-page>