<ons-page id="contact">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center toolbartitle">ติดต่อช่าง
        </div>
    </ons-toolbar>
    <div class="container MT50">
        <div class="container">
            <div id="Tcontact"></div>
            <div class="MT50">
                <div id="showComment"></div>
            </div>
            <button type="button" class="btn btnContact" style="width: 100%;height: 50px;margin-top: 50px;" id="goContact">ติดต่อช่าง</button>
        </div>
</ons-page>