<ons-page id="history">

    <ons-navigator swipeable id="Navigator_history" page="history.html"></ons-navigator>
    <template id="history.html">
        <ons-page id="historyPage">
            <ons-toolbar>
                <div class="center toolbartitle">
                    ประวัติการใช้บริการ </div>
            </ons-toolbar>

            <ons-pull-hook id="pull-hook">
                Pull to refresh
              </ons-pull-hook>
            <div class="container MT50">
                <div class="container">
                    <div id="showHistory"></div>
                </div>
            </div>

            </div>
        </ons-page>
    </template>

</ons-page>