<ons-page id="home">

    <ons-navigator swipeable id="Navigator_home" page="page1.html"></ons-navigator>
    <template id="page1.html">

        <ons-page id="page1">
            <ons-toolbar>
                <div class="center toolbartitle">
                    หน้าแรก </div>
            </ons-toolbar>
            <div class="container">

                <div class="headertitle MT">
                    ช่างยอดนิยม </div>
                <ons-carousel swipeable auto-scroll overscrollable id="" style="text-align: center;">
                    <div id="popular"> </div>
                </ons-carousel>



                <div class="headertitle">
                    ช่างที่อยู่ใกล้คุณ </div>
                <ons-carousel swipeable auto-scroll overscrollable id="" style="text-align: center; margin-bottom: 30px;">
                    <div  id="near"> </div>

                </ons-carousel>




            </div>

        </ons-page>
    </template>

</ons-page>