<ons-page id="language">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center toolbartitle">เปลี่ยนภาษา
        </div>
    </ons-toolbar>

    <div class="container MT50">
        <ons-list>
            <ons-list-item tappable>
                <label class="left">
                    <ons-radio name="color" input-id="radio-1" checked></ons-radio>
                </label>
                <label for="radio-1" class="center selectLanguage">
                    ไทย
                </label>
            </ons-list-item>
            <ons-list-item tappable>
                <label class="left">
                    <ons-radio name="color" input-id="radio-2"></ons-radio>
                </label>
                <label for="radio-2" class="center selectLanguage">
                    English
                </label>
            </ons-list-item>
            <ons-list-item tappable>
                <label class="left">
                    <ons-radio name="color" input-id="radio-3"></ons-radio>
                </label>
                <label for="radio-3" class="center selectLanguage">
                    Japanese
                </label>
            </ons-list-item>
            <ons-list-item tappable>
                <label class="left">
                    <ons-radio name="color" input-id="radio-4"></ons-radio>
                </label>
                <label for="radio-4" class="center selectLanguage">
                    Korean
                </label>
            </ons-list-item>
            <ons-list-item tappable>
                <label class="left">
                    <ons-radio name="color" input-id="radio-5"></ons-radio>
                </label>
                <label for="radio-5" class="center selectLanguage">
                    Italian
                </label>
            </ons-list-item>
            <ons-list-item tappable>
                <label class="left">
                    <ons-radio name="color" input-id="radio-6"></ons-radio>
                </label>
                <label for="radio-6" class="center selectLanguage">
                    Russian
                </label>
            </ons-list-item>
            <ons-list-item tappable>
                <label class="left">
                    <ons-radio name="color" input-id="radio-7"></ons-radio>
                </label>
                <label for="radio-7" class="center selectLanguage">
                    Chinese
                </label>
            </ons-list-item>
        </ons-list>
    </div>
</ons-page>