<ons-page id="profile">
    <ons-navigator swipeable id="Navigator_profile" page="profile.html"></ons-navigator>
    <template id="profile.html">
  <ons-page id="profile">
    <ons-toolbar>
      <div class="center toolbartitle">
        ข้อมูลส่วนตัว </div>
    </ons-toolbar>


    <div class="container MT50 text-center">

      <div class="list-itemleft list-item--materialleft headderpaddingleft" id="userProfile"></div>
      

      <div class="mt-3 profileHeader"  id="userName">  </div>


      <ons-list class="mt-5">
        <ons-list-header class="profileHeader ">บัญชี</ons-list-header>
        <ons-list-item tappable class=" profileMenulsit">แก้ไขข้อมูล</ons-list-item>
        <ons-list-item tappable class=" profileMenulsit">เปลี่ยนรหัสผ่าน</ons-list-item>
        <ons-list-item tappable id="changeLanguage" class="profileMenulsit">เปลี่ยนภาษา</ons-list-item>
        <ons-list-item tappable id="setting" class="profileMenulsit">ตั้งค่าแอปพลิเคชั่น</ons-list-item>
        <ons-list-header class="profileHeader">อื่นๆ</ons-list-header>
        <ons-list-item tappable id="privacy" class="profileMenulsit">นโยบายความเป็นส่วนตัว</ons-list-item>
        <ons-list-item tappable id="service" class="profileMenulsit">ตัวกำหนดการให้บริการ</ons-list-item>

        <ons-list-item tappable class="profileLogout"id="signout" >ออกจากระบบ</ons-list-item>

    </div>








  </ons-page>
</template>
</ons-page>