<ons-page id="setting">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center toolbartitle">ตั้งค่าแอป
        </div>
    </ons-toolbar>

    <div class="container MT50">

        <ons-list>
            <ons-list-item>
                <div class="center">
                    การแจ้งเตือน
                </div>
                <div class="right">
                    <ons-switch checked></ons-switch>
                </div>
            </ons-list-item>
            <ons-list-item>
                <div class="center">
                    GPS
                </div>
                <div class="right">
                    <ons-switch></ons-switch>
                </div>
            </ons-list-item>
            <ons-list-item>
                <div class="center">
                    Dark Mode
                </div>
                <div class="right">
                    <ons-switch disabled></ons-switch>
                </div>
            </ons-list-item>
        </ons-list>
</ons-page>