<ons-page id="showhistory">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center toolbartitle">ประวัติการใช้บริการ
        </div>
    </ons-toolbar>

    

    <div class="container MT50 text-center">

        <div class="container ">
            <div id="showHis">

            </div>


           
        </div>
    </div>





    <!-- <ons-alert-dialog id="my-alert-dialog" modifier="rowfooter">
        <div class="alert-dialog-title font">ยืนยัน</div>
        <div class="alert-dialog-content font">

ยืนยันการได้รับบริการ
        </div>
        <div class="alert-dialog-footer">
            <ons-alert-dialog-button onclick="hideAlertDialog()">Cancel</ons-alert-dialog-button>
            <ons-alert-dialog-button onclick="successConfirmed()">OK</ons-alert-dialog-button>
        </div>
    </ons-alert-dialog> -->

</ons-page>