/* .toolbar {
    font-family: 'Mitr', sans-serif;
    background-color:  white;
}

.tabbar {
    background-color: white;
}

:checked+.tabbar__button {
    color: #FFAA00;
}

.tabbar__icon {
    font-size: 28px;
}



.active {
    background-color: white;
}

.title {
    font-weight: bold;
    font-size: 36px;
    color: #FFAA00;
}

.poster {
    text-align: center;
    height: 540px;
    width: auto;
}

.top10 {
    text-align: center;
    padding-top: 28px;
    font-size: larger;
    font-weight: bold;
}

.searchPoster {
    height: 150px;
    width: 100px;
}

.movieTitle {
    font-size: 16px;
    font-weight: bold;
}

.movieDetail {
    font-size: 12px;
}

.rating {
    padding: 0 0 0 0;
    font-size: 14px;
    font-weight: bold;
}

.star {
    text-align: center;
    padding: 0 0 0 0;
    color: #FFAA00;
    font-size: 28px;
}

.searchSize {
    width: 300px;
}

.detailPoster {
    width: 300px;
    height: 420px;
    text-align: center;
}

.posterCenter {
    text-align: center;
    padding: 20px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.titleDetail {
    font-size: 22px;
    font-weight: bold;
}

.detail {
    padding-top: 8px;
    font-size: 14px;
    line-height: 18px;
}

.search-input {
    background-color: white;
}

.titleDetail {
    color: white;
}

.white {
    color: white;
}

.left {
    background-repeat: inherit;
}

.bwPoster {
    background-image: url("/image/bw.jpg");
    height: 420px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}


.page {
    font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.page_content {
    overflow: visible;
}

.headertitle {


font-size: 24px;
    color: #3E3F68;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
}

.cardtitle {
    padding: 0 0 0 20px;
    font-size: 20px;
    color: #3E3F68;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
}

div {
    font-family: 'Mitr', sans-serif;
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Mitr', sans-serif;
}

.toolbartitle {
    color: #3E3F68;
    font-size: 26px;
    font-weight: bold;
}

.menuHome {
    text-align: center;
    font-size: 12px;
    color: #3E3F68;
    font-weight: bold;
}

.seeAll {
    font-size: 10px;
    margin-right: 30px;
    text-align: end;
}

.bidbtn {
    border: 3px solid #FFAA00;
    border-radius: 15px;
    background-color: white;
    color: #3E3F68;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.category {
    font-size: 20px;
    text-align: center;
    color: #3E3F68;
}

.cardBG {
    background-color: #FFAA00;
}


.search-input {
    font-family: 'Mitr', sans-serif;
    margin-top: 30px;
    height: 40px;
    font-size: 20px;
}

.detailCategory {
    font-size: 18px;
    color: #747474;
}

.detailLocation {
    color: #FFAA00;
    text-align: start;
    font-size: 18px;
    color: #747474;

}

.picCard{
    height: 200px;
    width: 100%;  
    border: 3px solid #FFAA00;
    border-radius: 15px;
 
}
.back-button__icon{
    color: #3E3F68;

} */